.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #372c2e;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 10px;
    padding: 10px 14px;
    max-width: 100%; /* Ensure the container takes up the full width */
    max-height: 100vh; /* Limit the height to the viewport height */
  }
  @media screen and (max-width: 600px) {
    .card-container {
      padding: 10px; /* Adjust padding for smaller screens */
    }
}